.main-app {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}

.am-list {
    padding-left: 10px;
}

.map-frame {
    margin-top: 20px;
    width: 1200px;
    height: 1200px;
}

.wikidata-logo {
    width: 100px;
}
